<footer class="roda">
  <p>
    Todos os direitos preservados &copy; Meu:
    <a target="_blank" href="https://www.linkedin.com/in/robervan-souza/"
      >LinkedIn</a
    >
  </p>
  <p>
    Meu: <a target="_blank" href="https://github.com/RobervanSouza"> Github</a>
  </p>
</footer>
