<nav>
  <!--   -->
  <ul class="nav">
    <!--   -->

    <li>
      <a href="/"
        ><h1><h1>Home</h1></h1></a
      >
    </li>
    <!--o h1 e melhor para pesquisa do google-->
    <li><a href="/cadastro">Cadastrar</a> </li>
    <li><a href="#lista"> Lista de Convites </a></li> 
     <a target="_blank" href="https://shopee.com.br/auriene_arrais"  > <img src="/img/icons8-shopee-48.png" alt=""></a>

    <%- include('./pesquisa') %>
  
 

  </ul>
 
</nav>