<section class="pesquisa">
<form action="/pesquisa" method="POST">
    <input type="text" name="convite"  placeholder="nome do convite"> 
    <button type="submit"><i class="bi bi-search"></i></button>


</form>
</section>